.demo-logo-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 0;
}

:where(
    .css-dev-only-do-not-override-42nv3w
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-42nv3w
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-42nv3w).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}
