/* ProductList.css */
.product-list-pagination .ant-pagination-item {
  border-color: #1890ff;
}

.product-list-pagination .ant-pagination-item a {
  display: contents;
  color: #1890ff;
}

.product-list-pagination .ant-pagination-item-active a {
  color: #1890ff;
}

.product-list-pagination .ant-pagination-item:hover a {
  color: #1890ff;
}


.wrapper {
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.733);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 80px;
  width: 110px;
  border-radius: 40px;
  overflow: hidden;
}

.main-nav {
  background-color: #333;
  text-align: center;
}

.main-nav a {
  display: inline-block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: #555;
}