.btn{
    border-radius: 0.45rem;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    padding: 0.375rem 0.80rem;
    text-align: center;
    text-transform: none;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
    }
    .primary{
        background-color: #0089FF;
        color: #FFFFFF;
        border: None;
        &:hover{
          background-color: #0B5ED7;
          border-color:#0B5ED7;
        }
        
        
    }
    .secondary{
      background-color: white;
  
      border: 1px solid #0073C7;
      color: #0073C7;
    
      &:disabled {
        border: #6e6e6e;
      }
        
    }
    .success{
      background-color: #28A745;
      border-color: #28A745;
      color: #FFFFFF;
      &:hover{
        background-color: #157347;
        border-color:#157347;
      }
      
    }
    .warning{
      background-color: #FFC107;
      border-color: #FFC107;
      color: #000000;
      &:hover{
        background-color: #FFCA2C;
        border-color:#FFCA2C;
      }
      
    }
    .danger{
      background-color: white;
      border: 1px solid #DC3545;
      color: #DC3545;
      &:hover{
        background-color: #BB2D3B;
        border-color:#BB2D3B;
        color: white;
      }
      
    }
    .info{
      background-color: #0DCAF0;
      border-color: #0DCAF0;
      color: #000000;
      &:hover{
        background-color: #31D2F2;
        border-color:#31D2F2;
      }
      
    }
    .light{
      background-color: #F8F9FA;
      border-color: #F8F9FA;
      color: #000000;
      &:hover{
        background-color: #D3D4D5;
        border-color:#D3D4D5;
      }
      
    }
    .dark{
      background-color: #212529;
      border-color: #212529;
      color: #FFFFFF;
      &:hover{
        background-color: #424649;
        border-color:#424649;
      }
      
    }
    .primary-outline{
      background-color: transparent;
      border: 1px solid #007BFF;
      color: #007BFF;
      &:hover{
        background-color: #007BFF;
        color: #FFFFFF;
      }
      
    }
    .secondary-outline{
      background-color: transparent;
      border: 1px solid #6C757D;
      color: #6C757D;
      &:hover{
        background-color: #6C757D;
        color: #FFFFFF;
      }
      
    }
    .success-outline{
      background-color: transparent;
      border: 1px solid #28A745;
      color: #28A745;
      &:hover{
        background-color: #28A745;
        color: #FFFFFF;
      }
      
    }
    .warning-outline{
      background-color: transparent;
      border: 1px solid #FFC107;
      color: #FFC107;  
      &:hover{
        background-color: #FFC107;
        color: #000000;
      }
      
    }
    .danger-outline{
      background-color: transparent;
      border: 1px solid #DC3545;
      color: #DC3545;  
      &:hover{
        background-color: #DC3545;
        color: #FFFFFF;
      }
      
    }
    .info-outline{
      background-color: transparent;
      border: 1px solid #0DCAF0;
      color: #0DCAF0;  
      &:hover{
        background-color: #0DCAF0;
        color: #000000;
      }
      
    }
    .light-outline{
      background-color: transparent;
      border:1px solid #F8F9FA;
      color: #343A40;  
      &:hover{
        background-color: #F8F9FA;
        color: #000000;
      }
      
    }
    .dark-outline{
      background-color: transparent;
      border:1px solid #343A40;
      color: #343A40;  
      &:hover{
        background-color: #343A40;
        color: #FFFFFF;
      }
      
    }

    .btn:disabled,
    .btn[disabled] {

      background-color: #cccccc;
      color: white;
    }