label.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-hp97mr-MuiFormLabel-root {
  color: black;
}

span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ld7j2d-MuiTypography-root {
  font-size: 14px;
}