.nav-main-tbl {
    width: 100%;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    
    table tr th {
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    tr:nth-child(2) {
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    th:nth-child(2) {
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
      
}


@media screen and (max-width: 800px){
    .hamburger_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        button {
            display: block;
        }
        
    }
    .nav-main-tbl {
        width: 100%;
        height: 35px;
        
        justify-content: space-between;
        align-items: center;

        th:nth-child(2) {
            width: 100%;
            
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
        
    }
    
}

