.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-left: 300px;

    .menu__item {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        gap: 10px;
        p {
            color: var(--color-neutral-5);
            font-size: 16px;
            font-weight: 200;
        }
    }
}