.terms-of-service-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
}

.terms-of-service-container h1,
.terms-of-service-container h2 {
  text-align: left;
  margin-bottom: 20px;
}

.terms-of-service-container p {
  line-height: 1;
  margin-bottom: 20px;
}
