.avatar {
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  padding: 4px;
}

.avatar-large {
  width: 130px;
  height: 130px;
}

.avatar-x-large {
  width: 144px;
  width: 144px;
}

.avatar-image {
  max-width: 75%;
  position: absolute;
  z-index: 2;
  vertical-align: middle;
  left: 17px;
  top: 15px;
  border-radius: 50%;
}

.bronze-border {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(139, 69, 19, 0.5);
  box-shadow: 0 0 10px rgba(139, 69, 19, 0.5);
}

.gold-border {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(255, 215, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.silver-border {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(192, 192, 192, 0.5);
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
}

.diamond-border {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 150, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.5);
}
